{% extends "base.html" %}

{% block content %}

<table class="table">
   <thead>
     <tr>
       <th scope="col">Data</th>
       <th scope="col">Tytuł</th>
       <th scope="col">Treść</th>
       <th scope="col"></th>
     </tr>
   </thead>
   <tbody>
       {% for post in drafts %}
     <tr>
       <td>
           {{ post.pub_date.strftime('%Y-%m-%d') }}
       </td>
       <td>
           <a href="{{ url_for('edit_entry', entry_id=post.id) }}">
               {{ post.title }}
           </a>
       </td>
       <td>{{ post.body|truncate(100, true) }}</td>
     </tr>
     <!-- <td>
        <a href="{{ url_for('delete_entry') }}" button type="submit" class="btn btn-primary mt-5">Usuń</button>
    
    </form>
    </td> -->
     {% endfor %}
   </tbody>
 </table>

{% endblock %}